.protectedContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #8BC6EC 30%, #9599E2 90%);
  }
  
  .protectedPaper {
    padding: 20px;
    max-width: 600px; /* Adjust the max-width as per your requirement */
    width: 100%;
    height: 400px;
    border-radius: 20px; /* Add border-radius for rounded corners */
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  
  .protectedTitle {
    margin-top: 20px;
    text-align: center;
    color: #333;
  }

  .protectedPaper .protectedTitle {
    margin-top: 40px !important; /* Adjust the margin-top value as needed */
  }
  
  
  .protectedButton {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  .protectedLink {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

.btn-show-link {
  line-height: 1;
  background-color: #ffffff;
  color: #1f1f1f !important;
  border: 1px solid #1f1f1f !important;
  padding: 11px 22px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}  

.btn-send-link {
  line-height: 1;
  background-color: #ffffff;
  color: #1f1f1f !important;
  border: 1px solid #1f1f1f !important;
  padding: 11px 22px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px !important; 
  display: block;
  margin-bottom: 30px;
}

.emailField {
  margin-top: 50px !important;
  width: 400px !important;
}

.send-icon {
  margin-left: 5px; /* Adjust the margin as needed */
}

.email-txt {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  margin-top: 40px;
}


  